<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
</style>
<br>
<br>
<br>
<footer class="background text-center text-white" style="margin-top: 15px;">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-whatsapp"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-envelope"></i></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgb(12, 92, 166); font-family: 'Ubuntu', sans-serif;">
    ©Copyright:
    <a>Conecta+</a>
  </div>
</footer>
