<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
</style>
<br><br><br><br>
<div class="container">
<h1 class="" style="font-family: 'Ubuntu', sans-serif;">Quem Somos ?</h1><hr>
<div class="slogan" style="text-align:center ; font-family: 'Ubuntu', sans-serif;"></div>
<p class="card-text" style="text-align:justify ; font-family: 'Ubuntu', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit volutpat maecenas volutpat blandit. Et odio pellentesque diam volutpat commodo sed egestas. Amet dictum sit amet justo donec enim diam vulputate ut. Aliquam malesuada bibendum arcu vitae elementum. Dictumst vestibulum rhoncus est pellentesque elit. A arcu cursus vitae congue mauris rhoncus aenean vel. Habitant morbi tristique senectus et netus et malesuada fames. Adipiscing commodo elit at imperdiet dui accumsan sit. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Consequat ac felis donec et odio pellentesque diam. Massa ultricies mi quis hendrerit dolor magna.</p>
<img src="https://images.pexels.com/photos/2132891/pexels-photo-2132891.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-bottom" width="40px" height="500px"><br>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="text-align:justify ; font-family: 'Ubuntu', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="text-align:justify ; font-family: 'Ubuntu', sans-serif;">Enim facilisis gravida neque convallis a cras. Quisque egestas diam in arcu cursus euismod.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.pexels.com/photos/5088008/pexels-photo-5088008.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="text-align:justify ; font-family: 'Ubuntu', sans-serif;">Sed pulvinar proin gravida hendrerit lectus a. Justo eget magna fermentum iaculis eu.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.pexels.com/photos/1079033/pexels-photo-1079033.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="text-align:justify ; font-family: 'Ubuntu', sans-serif;">Commodo nulla facilisi nullam vehicula ipsum a. In ante metus dictum at tempor.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.pexels.com/photos/1313809/pexels-photo-1313809.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="text-align:justify ; font-family: 'Ubuntu', sans-serif;">Justo donec enim diam vulputate. Erat velit scelerisque in dictum non.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="text-align:justify ; font-family: 'Ubuntu', sans-serif;">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
</div>
<app-rodape></app-rodape>
