<br><br><br><br>
<div class="container" style="display: flex; justify-content: end;">
  <button type="button" class="btn btn-outline-success" (click)="ExibirModalCadastro()" data-bs-toggle="modal"
    data-bs-target="#modalAtualizarEInserir">Adicionar <i class="bi bi-plus-lg"></i></button>
</div>
<br><br><br>
<div class="container">
  <div class="cabecaTabela input-group mb-2">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
  </div>
  <hr>
  <!--Tabela-->
  <div style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N.Aluno</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Turma</th>
          <th scope="col">CEP</th>
          <th scope="col">Endereço</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cidade</th>
          <th scope="col">DataNascimento</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
          <th scope="col">Senha</th>
        </tr>
      </thead>
      <tbody *ngIf="alunos && alunosFiltrados.length">
        <tr *ngFor="let aluno of alunosFiltrados; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ aluno.nome }}</td>
          <td>{{aluno.cpf}}</td>
          <td>{{aluno.turma.codigoTurma}}</td>
          <td>{{aluno.cep}}</td>
          <td>{{aluno.endereco}}</td>
          <td>{{aluno.bairro}}</td>
          <td>{{aluno.cidade}}</td>
          <td>{{aluno.dataNasc}}</td>
          <td>{{ aluno.telefone }}</td>
          <td>{{ aluno.email }}</td>
          <td>{{ aluno.senha }}</td>
          <td style="display: flex">
            <button type="button" class="btn btn-outline-danger me-2" (click)="alterarIdDeletar(aluno.alunoId)"
              data-bs-toggle="modal" data-bs-target="#modalDelete"><i class="bi bi-trash"></i></button>
            <button type="button" class="btn btn-outline-info" (click)="ExibirModalAtualizacao(aluno.alunoId)"
              data-bs-toggle="modal" data-bs-target="#modalAtualizarEInserir"><i
                class="bi bi-pencil-square"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="alunosFiltrados.length == 0">
        <tr>
          <td colspan="8">
            <h4>Sem Registros</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--Modal de Criação e Atualização-->
<div class="modal fade" id="modalAtualizarEInserir" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">{{ tituloFormulario }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ms-2">
        <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome:*</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" required formControlName="nome">
            <div *ngIf="propriedade.nome.touched && propriedade.nome.invalid">
              <label style="color: red;">Campo Obrigatorio! Contendo mais de 5 Caracteres</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">CPF:* (Apenas Numeros)</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="cpf" required />
            <div *ngIf="propriedade.cpf.touched && propriedade.cpf.invalid">
              <label style="color: red;">* Digite um CPF existente! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">CEP:* (XXXXX-XXX)</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="cep" required />
            <div *ngIf="propriedade.cep.touched && propriedade.cep.invalid">
              <label style="color: red;">* Digite o CEP ! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">ENDERECO:* </label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="endereco" required />
            <div *ngIf="propriedade.endereco.touched && propriedade.endereco.invalid">
              <label style="color: red;">* Digite seu Endereço ! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">BAIRRO:* </label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="bairro" required />
            <div *ngIf="propriedade.bairro.touched && propriedade.bairro.invalid">
              <label style="color: red;">* Digite seu Bairro ! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">CIDADE:* </label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="cidade" required />
            <div *ngIf="propriedade.cidade.touched && propriedade.cidade.invalid">
              <label style="color: red;">* Digite sua Cidade ! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">DATA DE NASCIMENTO:* </label>
            <input type="date" class="form-control" id="exampleFormControlInput2" formControlName="dataNasc" required />
            <div *ngIf="propriedade.dataNasc.touched && propriedade.dataNasc.invalid">
              <label style="color: red;">* Digite sua Data de Nascimento ! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">TELEFONE:* (COM DDD) </label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="telefone" required />
            <div *ngIf="propriedade.telefone.touched && propriedade.telefone.invalid">
              <label style="color: red;">* Digite seu Telefone ! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">EMAIL:* </label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="email" required />
            <div *ngIf="propriedade.email.touched && propriedade.email.invalid">
              <label style="color: red;">* Digite seu Email ! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">SENHA:* </label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="senha" required />
            <div *ngIf="propriedade.senha.touched && propriedade.senha.invalid">
              <label style="color: red;">* Digite uma senha contendo mais de 06 digitos ! </label>
            </div>
          </div>
          <div class="row g-2 mb-3">
            <label fclass="formTexto">Turma:</label>
            <select class="form-select select" id="floatingSelect" aria-label="Floating label select"
              style="padding-left: 12px;" formControlName="turmaId" >
              <option *ngFor=" let t of turmas" [ngValue]="t.turmaId"> {{ t.codigoTurma }} </option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formulario.invalid">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Modal de confirmação de delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Você realmente deseja deletar ?</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
          (click)="ExcluirAluno(idDeletar)">Sim</button>
      </div>
    </div>
  </div>
</div>
