@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');

.slogan{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .slogan {
    font-size: 45px;
  }
}
@media screen and (max-width: 500px) {
  .slogan {
    font-size: 33px;
  }
}
