<br><br><br><br>
<div class="container" style="display: flex; justify-content: end;">
  <button type="button" class="btn btn-outline-success" (click)="ExibirModalCadastro()" data-bs-toggle="modal"
    data-bs-target="#modalAtualizarEInserir">Adicionar <i class="bi bi-plus-lg"></i></button>
</div>
<br><br><br>
<div class="container">
  <div class="cabecaTabela input-group mb-2">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
  </div>
  <hr>
  <!--Tabela-->
  <div style="overflow: auto;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N.Professor</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
          <th scope="col">Senha</th>
        </tr>
      </thead>
      <tbody *ngIf="professores && professoresFiltrados.length">
        <tr *ngFor="let professor of professoresFiltrados; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ professor.nome }}</td>
          <td>{{professor.cpf}}</td>
          <td>{{ professor.telefone }}</td>
          <td>{{ professor.email }}</td>
          <td>{{ professor.senha }}</td>
          <td style="display: flex">
            <button type="button" class="btn btn-outline-danger me-2" (click)="alterarIdDeletar(professor.professorId)"
              data-bs-toggle="modal" data-bs-target="#modalDelete"><i class="bi bi-trash"></i></button>
            <button type="button" class="btn btn-outline-info" (click)="ExibirModalAtualizacao(professor.professorId)"
              data-bs-toggle="modal" data-bs-target="#modalAtualizarEInserir"><i
                class="bi bi-pencil-square"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="professoresFiltrados.length == 0">
        <tr>
          <td colspan="8">
            <h4>Sem Registros</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--Modal de Criação e Atualização-->
<div class="modal fade" id="modalAtualizarEInserir" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">{{ tituloFormulario }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ms-2">
        <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome:*</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" required formControlName="nome">
            <div *ngIf="propriedade.nome.touched && propriedade.nome.invalid">
              <label style="color: red;">Campo Obrigatorio! Contendo mais de 5 Caracteres</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">CPF:* (Apenas Numeros)</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="cpf" required />
            <div *ngIf="propriedade.cpf.touched && propriedade.cpf.invalid">
              <label style="color: red;">* Digite um CPF existente! </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Telefone:* (Com DDD)</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" formControlName="telefone" required />
            <div *ngIf="propriedade.telefone.touched && propriedade.telefone.invalid">
              <label style="color: red;">* Campo Obrigatorio!</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">Email:*</label>
            <input type="email" class="form-control" id="exampleFormControlInput4"  formControlName="email" required />
            <div *ngIf="propriedade.email.touched && propriedade.email.invalid">
              <label style="color: red;">* Email Invalido!</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">Senha:*</label>
            <input type="text" class="form-control" id="exampleFormControlInput5" formControlName="senha" required />
            <div *ngIf="propriedade.senha.touched && propriedade.senha.invalid">
              <label style="color: red;">* Campo Obrigatorio! De 6 a 10 Caracteres</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="formulario.invalid">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal de confirmação de delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Você realmente deseja deletar ?</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
          (click)="ExcluirProfessor(idDeletar)">Sim</button>
      </div>
    </div>
  </div>
</div>
